{% extends 'snippet/layout.html' %}
{% block stylesheet %}
<style>
    .container{
        width: 1140px;
        margin: 0 auto;
    }

    .box{
        padding: 0 10px 50px 10px;
    }

    .img-show{
        float: left;
        margin: 1px;
        width: 160px;
        height: 160px;
        overflow: hidden;
    }

    .description{
        float: left;
    }

    .shop {
        margin: 5px;
    }

    .shop-logo {
        float:left;
        width: 40px;
        height: 40px;
    }

    .shop-name{
        float: left;
        font-size: 20px;
        margin: 8px;
    }

    .introduction {
        margin: 5px;
    }

    .user-portrait {
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .user-comment {
        float: left;
        width: 260px;
        font-size: 12px;
    }

    .user-content {
        float: left;
        margin: 5px 0 5px 10px;
    }

    .user{
        color: #22A7F0;
    }

    .comment-content{
        float: left;
        margin-left: 10px;
    }
</style>
{% endblock %}
{% block main %}
<div class="container">
    {% for each_shops_group in shop_groups %}
        <div class="pure-g">
            {% for shop in each_shops_group %}
                <div class="pure-u-1-3">
                    <div class="box clear">
                        <div class="img-box clear">
                            {% for good in shop.goods %}
                                <a href="/shop/{{ good.id }}" class="img-show">
                                    <img class="pure-img lazy" data-original="{{ good.url }}" width="160" height="160"/>
                                </a>
                            {% endfor %}
                        </div>
                        <div class="description">
                            <div class="shop clear">
                                <a href="#">
                                    <img class="shop-logo" src="/static/img/shop1.jpg"/>
                                </a>
                                <span class="shop-name">{{ shop.name }}</span>
                            </div>
                            <div class="introduction clear">
                                <img class="user-portrait" src="/static/img/user1.png" />
                                <div class="user-comment">
                                    <span class="user-content">
                                        <strong class="user">印多多</strong>推荐:
                                    </span>
                                    <p class="comment-content">但是为了保持足够小，只满足最基本的需求，你可以在此基础上进行自定义</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}